<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">MediSearch</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <% if(!currentUser) { %>
                <li class="nav-item 1">
                    <a class="nav-link" href="/login">Login <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item 2">
                    <a class="nav-link" href="/shop/register">ShopRegister</a>
                </li>

                <li class="nav-item 3">
                    <a class="nav-link" href="/user/register">UserRegister</a>
                </li>
            <% } else { %>
                <% if(currentUser.position == 1){ %>
                    <li class="nav-item 3">
                        <a class="nav-link" href="/shop/stock">Stock</a>
                    </li>
                    <li class="nav-item 3">
                        <a class="nav-link" href="/shop/stock/new">Add Stock</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/shop/offlineOrder">Offline Order</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/shop/pendingOrders">Pending Orders</a>
                    </li>
                    <li>
                        <a class="nav-link" href="/shop/confirmedOrders">Confrimed Orders</a>
                    </li>
                <% } %>

                <% if(currentUser.position == 0){ %>
                    <li class="nav-item 3">
                        <a class="nav-link" href="/user/shops">All Shops</a>
                    </li>
                    <li class="nav-item 3">
                        <a class="nav-link" href="/user/searchMedicine">Search Meds</a>
                    </li>
                    <li class="nav-item 3">
                        <a class="nav-link" href="/user/orders">Orders</a>
                    </li>
                <% } %>

                <li class="nav-item 3">
                    <a class="nav-link" href="/logout">Logout</a>
                </li>
            <% } %>
        </ul>

    </div>
</nav>
