<% layout('layouts/boilerplate') %>
<div class="row">
    <div class="col-6">
        <div class="card mb-3">
            <img src="<%= prescription.imageURL %>" class="card-img-top" alt="">
        </div>
    </div>

    <div class="col-6">
        <% let i=0; %>
        <% for(let comment of prescription.comments) { %>
            <div class="card mb-3 ">
                <div class="card-body">
                    <h6 class="card-subtitle mb-2"><a href="/user/viewShop/<%=comment.commenterID%>"><%= shopName[i++] %></a></h6>
                    <p class="card-text">Review: <%= comment.text %></p>
                </div>
            </div>
        <% } %>
    </div>
</div>